.popup-slider {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);

    &__close {
        position: fixed;
        top: 22px;
        right: 22px;
        transition: 0.2s;
        opacity: 0.7;
        z-index: 6;

        svg {
            fill: #fff;
            width: 32px;
            height: 32px;
        }

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }

    &__wrap {
        padding: 10vh 0;
    }

    &__slide {
        transition: 0.2s;
        margin-right: 6%;
        margin-left: 6%;
        z-index: 3;
        max-width: 440px;
    }

    &__preview {
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__slide-btn {
        background-color: rgb(73, 7, 158);
        display: block;
        position: absolute;
        bottom: 2%;
        left: 15%;
        padding: 9px 0px 10px;
        width: 70%;
        color: #fff;
        font-size: 14px;
        text-align: center;
        border-radius: 4px;
        letter-spacing: 0.5px;
        transition: 0.24s;

        &:hover {
            background-color: rgb(83, 6, 184);
        }

        &:active {
            background-color: rgb(52, 4, 114);
            color: rgb(165, 165, 165);;
        }
    }

    &__progress-bar {
        display: flex;
        position: absolute;
        top: 3%;
        left: 0;
        width: 100%;
        height: 5px;
        padding: 0 6px;
    }

    &__progress-wrap {
        border: 1px solid #fff;
        height: 1px;
        margin-right: 6px;
        flex-grow: 1;

        &:last-child {
            margin-right: 0;
        }
    }

    &__progress-item {
        display: block;
        width: 100%;
        background-color: #fff;
    }

    &__sub-slide {
        display: none;
    }

    &__nav {
        cursor: pointer;
        position: absolute;
        z-index: 6;
        top: 0;
        width: 50%;
        height: 90%;
        background-color: transparent;
    }

    &__nav-prev {
        left: 0;
    }

    &__nav-next {
        right: 0;
    }

    &__slide-header {
        position: absolute;
        top: 20px;
        left: 12px;
        z-index: 10;
        display: flex;
        align-items: center;

        img {
            min-width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 12px;
        }

        p {
            color: #fff;
            font-size: 14px;
        }
    }

    .swiper-scrollbar {
        background-color: rgba(255, 255, 255, 0.212);
        top: 7px;
        height: 3px;

        .swiper-scrollbar-drag {
            background-color: #fff;
            width: 0;
        }
    }

    .show-picture {
        display: block;
    }

    .swiper-slide-active {
        transform: scale(1.1);
    }

    .swiper-slide-next,
    .swiper-slide-prev {
        cursor: pointer;
    }
}

.show-slider {
    opacity: 1;
    visibility: visible;
}

@media(max-width: 1440px) {
    .popup-slider {
        &__close {
            top: 12px;
            right: 16px;
            svg {
                width: 28px;
                height: 28px;
            }
        }

        &__wrap {
            padding: 52px 0;
        }
        .swiper-slide-active {
            transform: scale(1);
        }
    }
    
}

@media(max-height: 900px) {
    .popup-slider {
        &__slide {
            width: 320px;
        }
    }
}

@media(max-height: 800px) {
    .popup-slider {
        &__slide {
            width: 300px;
        }
    }
}

@media(max-height: 600px) {
    .popup-slider {
        &__slide {
            width: 280px;
        }
    }
}